/*header*/

.header_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

span {
  color: #f59e43;
}

.title_projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*projects section desktop*/

.project_section_desktop {
  width: 94.4%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.baby_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.ecodream {
  background: url(../Assets/ecodream.svg);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sunnee {
  background: url(../Assets/sunnee.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cakeload {
  background: url(../Assets/cakeload.svg);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coming_soon {
  background: url(../Assets/coming_soon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coming_soon_title {
  color: #f9f9f9;
}
.project_section {
  aspect-ratio: 1/1;
  width: 40.17%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.project_hover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
}

.blue_hover {
  background: linear-gradient(180deg, rgba(18, 47, 59, 0) 0%, #1f5166 100%);
  position: absolute;
}

.orange_hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #f59e43 100%);
}

.red_hover {
  background: linear-gradient(180deg, rgba(49, 49, 49, 0.25) 0%, #de611e 100%);
}

.project_text {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f9f9f9;
  text-align: right;
  font-family: "Montserrat Alternates", sans-serif;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.project_section:hover .project_hover {
  display: block;
}

/*project section mobile*/

.box_project {
  text-align: center;
}

.project_section_mobile {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_section_item_mobile {
  margin-top: 20px;
  aspect-ratio: 1/1;
  width: 90.69%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

.ecodream_image_mobile {
  width: 232px;
  height: 140px;
}

.sunnee_image_mobile {
  width: 232px;
  height: 153px;
}

.cakeload_image_mobile {
  width: 258px;
  height: 249px;
}

h3 {
  font-size: 16px;
  color: #003f59;
  margin-top: 5px;
}

/*queries*/

@media (min-width: 2600px) {
  .ecodream_image {
    width: 1024px;
    height: 726px;
  }
  .sunnee_image {
    width: 854px;
    height: 565, 34;
  }
  .cakeload_image {
    width: 1016px;
    height: 982px;
  }
}

@media (max-width: 1440px) {
  .ecodream_image {
    width: 502px;
    height: 263px;
  }
  .sunnee_image {
    width: 327px;
    height: 182.67px;
  }
  .cakeload_image {
    width: 408px;
    height: 391px;
  }
}

@media (max-width: 1024px) {
  .ecodream_image {
    width: 402px;
    height: 163px;
  }
  .sunnee_image {
    width: 227px;
    height: 82.67px;
  }
  .cakeload_image {
    width: 308px;
    height: 291px;
  }
}

@media (max-width: 670px) {
  .header_projects {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .ecodream_image {
    width: 173px;
    height: 104px;
  }
  .sunnee_image {
    width: 173px;
    height: 114px;
  }
  .cakeload_image {
    width: 161px;
    height: 155px;
  }
  .coming_soon_title {
    font-size: 20px;
  }
}

@media (min-width: 426px) {
  .entire_project_section {
    display: none;
  }
}
@media (max-width: 425px) {
  .project_section_desktop {
    display: none;
  }
}

@media (max-width:340px) {
  .title_projects {
    margin: 0 10px 0 10px;
  }
  .subtitle {
    text-align: center;
  }
}
