/*header desktop*/

.sudime{
  background: url(../Assets/header_sudime.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*header laptop*/

.sudime_large {
  background: url(../Assets/header_laptoplarge_sudime.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sudime_laptop {
  background: url(../Assets/Header_laptop_sudime.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*header tablet */
.sudime_tablet {
  background: url(../Assets/Header_tablet_sudime.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/*header mobile*/
.sudime_mobile {
  background: url(../Assets/Header_mobile_sudime.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

/*introduction*/
h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #f59e43;
  margin-bottom: 30px;
}

.about_me_paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #f9f9f9;
}

.text_background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #007a7a;
  width: 100%;
  height: auto;
  margin: 0 0 100px 0;
  padding: 100px 0 100px 0;
}

.text_container {
  width: 78.42%;
  text-align: left;
}

.text_introduction {
  margin-bottom: 10px;
}

/*skills section desktop*/
.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.image_skills {
  margin: 0 20px 20px 0;
}

.hobby_text {
  margin-top: 100px;
}
.right_skill {
  margin-bottom: 20px;
}

/*skills section mobile*/
.skills_container_mobile {
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.skills_mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.hobby {
  height: 212px;
  width: 212px;

}

/*queries*/

@media (max-width: 1920px) {
  .header_about_me {
    height: 965px;
  }
}

@media (max-width: 1650px) {
  .header_about_me {
    height: 820px;
  }
}

@media (max-width: 1440px) {
  .header_about_me {
    height: 700px;
  }
}

@media (max-width: 1260px) {
  .header_about_me {
    height: 634px;
  }
  .about_me_title {
    font-size: 30px;
  }
}



@media (min-width: 951px) {
  .skills_container_mobile {
    display: none;
  }
  .image_container {
    height: 680px;
  }
}

@media (max-width: 950px) {

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .about_me_paragraph {
    font-size: 16px;
  }

  .skills_container {
    display: none;
  }
}


@media (max-width: 470px) {
  .mobile_skill {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 400px) {
  .mobile_skill {
    height: 150px;
    width: 150px;
  }
  .about_me_title {
    font-size: 26px;
  }
}

@media (max-width: 340px) {
  .mobile_skill {
    height: 130px;
    width: 130px;
  }
}
